<!-- About Section -->
    <section id="experience">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Experience</h2>
                    <h3 class="section-subheading text-muted">what I've done and where I've been</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-responsive" src="img/about/Trent-Logo.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>September 2016 - present</h4>
                                    <h4 class="subheading">Computing Systems and Physics major at Trent University</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I'm not ashamed to admit that I have one of the ugliest academic records because of my lack of interest in many pointless classes.  But its gotten me to where I am now.</p>
                                </div>
                            </div>
                        </li>
						<li class="timeline-inverted">
                            <div class="timeline-inverted timeline-image">
                                <img class="img-responsive" src="img/about/alligator-pool.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Summer 2017, 2018 - present summer</h4>
                                    <h4 class="subheading">Employed Snow Pools full time (Summer Job)</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I could write a book on all the awful things that come with doing this job, being a pool boy is not AT ALL what it seems like on TV.  But money is money and I'm fond of money (thats not me in the picture by the way).</p>
                                </div>
                            </div>
                        </li>
						<li>
                            <div class="timeline-image">
                                <img class="img-responsive" src="img/about/T1-agency.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2017 - present</h4>
                                    <h4 class="subheading">Employed at T1 Agency occasionally</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The One (T1) Agency is a brand ambassador agency that provides large companies with promoters to work at activations and events.  Most of what I did as a BA was interacting with regular people at these events, boosting brand awareness.  I'm pretty loud and expressive so this was pretty easy for me. </p>
                                </div>
                            </div>
                        </li>
						<li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-responsive" src="img/about/IPS.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>August - September 2018</h4>
                                    <h4 class="subheading">Employed at IPS full time</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">International Payment Solutions (IPS) is a brokerage for merchant proccessing units and accounts.  I was hired as a B2B salesman (it can be argued that merchant processing sales is one of the hardest) for a month before having to return to school.  Within that time I learned a great deal about how small to medium businesses operate, as well as understand the goals I must set for myself to successfully run my own projects. Probably won't go back there though since working comission is not reliable enough to pay off OSAP.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-responsive" src="img/about/innovate-trent-logo2.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2018</h4>
                                    <h4 class="subheading">Co-founded Innovate Trent</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Innovate Trent is an organization for students looking to enchance their ideas, start ups, and entrepreneurial development by hosting collaboration events, overseeing projects, and providing networking opportunities.  Being the leader of this group from the beginning has given me an immense amount of insight into how to expand a business and how to efficiently manage the individuals in it.</p>
                                </div>
                            </div>
                        </li>
                 
                    </ul>
                </div>
            </div>
        </div>
    </section>