<!--Services Section -->
    <section id="introduction" class="secondary-section-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Introduction</h2>
                    <h3 class="section-subheading text-muted">This is just a temporary intro video, so it may seem a little unprofessional at the moment.</h3>
                </div>
            </div>
            
			<video class="vid" controls>
			<source src="vid/myWebsite-intro.mp4" type="video/mp4">
			</video>
	
        </div>
    </section>